%h1 Zrób test

%table.table.table-hover
  %thead
    %tr
      %th Grupa wydarzeń
      %th
  %tbody
    - topics.each do |topic|
      %tr
        %td= topic.name
        %td
          %span= link_to 'Zrób test', test_path(topic), class: "btn btn-test"
          %span= link_to 'Pokaż', topic, class: "btn btn-primary"
          %span= link_to 'Pokaż oś czasu', learning_path(topic), class: "btn btn-info"